@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

:root {
  font-size: 62.5%;
}
ul li {
  list-style: none;
}

p,
li {
  font-size: 1.6rem;
  margin-bottom: 0.5em;
  letter-spacing: 0.07;
}

/* ############### utility classes ########## */

.btnEx {
  display: inline-block;
  padding: 0.5em 1.5em;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0.5em 0;
}

.lt-space {
  letter-spacing: 0.1em;
}
.btnEx-primary {
  background-color: white;
  border-radius: 10em;
  letter-spacing: 0.15em;
}
.btnEx-primary:hover {
  background: #000000;
}
.btnEx-secondary {
  border: 2px solid red;
  border-radius: 1.5em;
  color: red;
  background: white;
  letter-spacing: 0.15em;
}
.btnEx-secondary:hover {
  background: #fcf3f2;
}

.lg-heading {
  font-size: 3.5rem;
}
.md-heading {
  font-size: 2.2rem;
}
.sm-heading {
  font-size: 1.8rem;
}
.text-red {
  color: #e63946;
}
.text-light {
  color: #f4f4f4;
}
.text-black {
  color: #333333;
}
.text-gray {
  color: #555555;
}

.bg-dark {
  background-color: #263238;
}
/* ################### header styling#################### */

.header {
  height: 93.9vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.navbar1 {
  padding: 0.5rem;
}

.navbar1 .logo {
  letter-spacing: 0.2em;
  float: left;
}
.navbar1 .nav-items {
  margin-top: 1rem;
}
.navbar1::after {
  content: "";
  clear: both;
  display: block;
}
/* ################### header content styling ################ */

.navbar1 .nav-item {
  display: inline-block;
  padding: 1rem;
}
.navbar1 a:link,
.navbar1 a:visited {
  color: white;
}
.navbar1 a {
  padding-bottom: 0.3rem;
}
.navbar1 a:hover {
  border-bottom: 1px solid white;
}

.header-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-content h1 {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin: auto 0%;
}
.header-content p {
  text-transform: uppercase;
  text-align: center;
}

/* login */

/* From Uiverse.io by devkatyall */
/* The design is inspired from Galahhad*/
/* From Uiverse.io by gharsh11032000 */
.menu {
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  width: fit-content;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.menu .link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: white;
  gap: 12px;
  padding: 12px 36px;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu .link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0a3cff;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu .link svg {
  width: 14px;
  height: 14px;
  fill: #000000;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu .item {
  position: relative;
}

.menu .item .submenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  border-radius: 0 0 16px 16px;
  left: 0;
  width: 100%;
  overflow: hidden;
  border: 1px solid #cccccc;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-12px);
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 1;
  pointer-events: none;
  list-style: none;
}

.menu .item:hover .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
  border-top: transparent;
  border-color: #0a3cff;
}

.menu .item:hover .link {
  color: #ffffff;
  border-radius: 16px 16px 0 0;
}

.menu .item:hover .link::after {
  transform: scaleX(1);
  transform-origin: right;
}

.menu .item:hover .link svg {
  fill: #ffffff;
  transform: rotate(-180deg);
}

.submenu .submenu-item {
  width: 100%;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.submenu .submenu-link {
  display: block;
  padding: 12px 24px;
  width: 100%;
  position: relative;
  text-align: center;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.submenu .submenu-item:last-child .submenu-link {
  border-bottom: none;
}

.submenu .submenu-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  width: 100%;
  height: 100%;
  background-color: #0a3cff;
  z-index: -1;
  transform-origin: left;
  transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.submenu .submenu-link:hover:before {
  transform: scaleX(1);
  transform-origin: right;
}

.submenu .submenu-link:hover {
  color: #ffffff;
}

#button-top {
  display: inline-block;
  background-color: #ff9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: opacity 0.3s ease;
  z-index: 1000;
}
#button-top::after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button-top:hover {
  cursor: pointer;
  background-color: #333;
}
#button-top:active {
  background-color: #555;
}
#button-top.show {
  opacity: 1;
  visibility: visible;
}

/* Cookie consent popup styles */
.cookie-wrapper {
  position: fixed;
  bottom: 50px;
  right: -370px;
  max-width: 345px;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  padding: 15px 25px 22px;
  transition: right 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 1100;
}
.cookie-wrapper.show {
  right: 20px;
}
.cookie-wrapper .cookie-header {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.cookie-header i {
  color: #4070f4;
  font-size: 32px;
}
.cookie-header h2 {
  color: #4070f4;
  font-weight: 500;
}
.cookie-wrapper .cookie-data {
  margin-top: 16px;
}
.cookie-wrapper .cookie-data p {
  color: #333;
  font-size: 16px;
}
.cookie-data p a {
  color: #4070f4;
  text-decoration: none;
}
.cookie-data p a:hover {
  text-decoration: underline;
}
.cookie-wrapper .cookie-buttons {
  margin-top: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cookie-buttons .cookie-button {
  border: none;
  color: #fff;
  padding: 8px 0;
  border-radius: 4px;
  background: #4070f4;
  cursor: pointer;
  width: calc(100% / 2 - 10px);
  transition: all 0.2s ease;
}
.cookie-buttons #acceptBtn:hover {
  background-color: #034bf1;
}
#declineBtn {
  border: 2px solid #4070f4;
  background-color: #fff;
  color: #4070f4;
}
#declineBtn:hover {
  background-color: #4070f4;
  color: #fff;
}

.custom-card {
  height: 70vh;
  width: 30vw;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.custom-card:hover {
  transform: scale(1.05);
}

.shadow-green {
  box-shadow: 0 4px 8px rgba(144, 238, 144, 0.6);
}

.shadow-blue {
  box-shadow: 0 4px 8px rgba(173, 216, 230, 0.6);
}

.shadow-bisque {
  box-shadow: 0 4px 8px rgba(255, 228, 196, 0.6);
}

.shadow-pink {
  box-shadow: 0 4px 8px rgba(255, 182, 193, 0.6);
}

.custom-card:hover {
  transform: scale(1.05); /* Slightly enlarge the card on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Add a stronger shadow effect on hover */
}

.animated-background {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.cards-appear {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry cover 40%;
}

/* Hero Section */
.hero {
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  height: 60vh;
  padding: 0 20px;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(70%);
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -50;
}

.card-img-top {
  height: 36vh;
  width: 24vw;
}

.burger-menu,
.burger-menu-btn {
  display: none;
}

/* =========================== MEDIA QUERIES ====================================== */

@media screen and (max-width: 768px) {
  .burger-menu-btn {
    display: block;
    float: right;
    margin-left: 0px;
    margin-right: 0px;
    width: 50px;
    height: 50px;
    background-image: url(./images/burger.jpeg), url(./images/close.png);
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center left 50px;
  }

  .burger-menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background-color: #111;
    margin-top: 60px;
  }

  .burger-menu ul {
    width: 100vw;
    height: calc(100vh - 60px);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .burger-menu ul li {
    flex-basis: 100%;
    border-top: 2px solid #000;
  }
  .burger-menu ul li:last-child {
    border-bottom: 2px solid #000;
  }

  .burger-menu ul li a {
    display: block;
    height: 100%;
    font-size: 3rem;
    padding: 30px 0;
    flex-basis: 100%;
    text-align: center;
  }

  .burger-menu ul li button {
    display: block;
    height: 100%;
    font-size: 3rem;
    padding: 30px 0;
    flex-basis: 100%;
    align-items: center;
    margin-left: 50%;
  }

  .header {
    width: 100%;
  }

  .cookie-wrapper {
    position: fixed;
    bottom: 50px;
    width: 100%;
    background: #fff;
    border-radius: 8px;
    padding: 15px 25px 22px;
    transition: right 0.3s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 1100;
  }
  .card-img-top {
    height: 36vh;
    width: 60vw;
  }
  .custom-card {
    height: 70vh;
    width: 80vw;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  .card-right {
    display: none;
  }
  .nav-items {
    display: none;
  }
}
